.samples{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App{
  display: flex;
  justify-content: center;
  margin: 500px;
}

.drum-pad{
  border: 2px solid grey;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}