body{
    font-family: 'IBM Plex Sans', sans-serif; 
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(22, 22, 22);
  }
  .quote-box{
    width: 500px;
    background: #333333;
    border-radius: 10px;
    padding: 25px;
  }
     
  .quote{
    font-size: 25px;
  }
  .author {
    margin-top:10px ;
    font-family:monospace;  
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
    
  .buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 12px;
  }
     
  .features button{
    border: none; 
    outline: none; 
    padding:15px 25px;
    font-size: 20 px;
    color: whitesmoke;
    border-radius: 8px;
    background:#474747; 
  }  
 
  .tweet-quote a, .new-quote {
    font-size: 15px; 
    font-weight: 300;
    text-decoration: none;
    color: whitesmoke;
  }

  button:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  }